.cardWrapper{
    width: 100%;
}

.userInfo{
    border: solid 1px var(--decoration-color);
}

.userInfo > img{
    width: 80%;
    padding: 10px;
}

.messageInfo{
    background-color: var(--secondary-bg-color);
}

.messageInfo > p{
    box-shadow: 0 1px 0 0 var(--decoration-color);
}

.messageInfo > div{
    color: var(--decoration-color);
}

.messageInfo > div > img{
    align-self: center;
    max-width: 100%;
    max-height: 250px;
}


@media (max-width: 768px) {
    .messageInfo{
        align-self: center;
        width: 90%;
    }
}