.topicWrapper{
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
}

.topicWrapper > div > p{
    word-break: break-all;
}

.topicWrapper > * {
    margin: 0;
    padding: 0;
}

.topicWrapper > h3 {
    flex: 1;
}

.topicWrapper > p {
    flex: 3;
}

.topicWrapper svg {
    cursor: pointer;
    flex: 1;
    font-size: 25px;
}

.singleDiscussionWrapper{
    margin-top: 8px;
    width: 90%;
    color: var(--decoration-color);
    background-color: var(--secondary-bg-color);
    cursor: pointer;
    transition: 0.2s;
}

.singleDiscussionWrapper:hover{
    box-shadow: 0 0 2px 1px var(--decoration-color);
}

.singleDiscussionWrapper > strong{
    flex: 1;
}

.singleDiscussionWrapper > p {
    flex: 1;
    margin: 0;
}