.profileWrapper{
    background-color: var(--main-bg-color);
}

.profileWrapper > img {
    height: 250px;
    width: 250px;
}

.iconsWrapper{
    font-size: 2rem;
    color: var(--text-color);
}

.iconsWrapper  > div {
    cursor: pointer;
}

.iconsWrapper > div:hover{
    background-color: var(--decoration-color);
    color: var(--main-bg-color);
}

.iconsWrapper > div:hover > h4 {
    color: var(--main-bg-color);
}

.iconsWrapper > div > h4{
    padding-right: 5px;
}

.active{
    filter: sepia(100%);
}

.smallItem{
    width: 90%;
    background-color: var(--secondary-bg-color);
}

.bookmark{
    cursor: pointer;
    padding: 5px;
    top: 0;
    font-size: 20px;
    right: 0;
    color: var(--text-color);
}

.modalContent{
    position: relative;
    color: var(--decoration-color);
    width: 60%;
    background-color: var(--secondary-bg-color);
}

.discussionManipulationButtons > div > * {
    cursor: pointer;
    padding: 2px;
}

.discussionManipulationButtons > div > *:hover{
    background-color: var(--decoration-color);
    color: var(--main-bg-color);
}


