.profileWrapper{
    background-color: var(--main-bg-color);
}

.profileWrapper  img {
    height: 250px;
    width: 250px;
}

.iconsWrapper{
    font-size: 2rem;
    color: var(--text-color);
}

.iconsWrapper  > div {
    cursor: pointer;
}

.iconsWrapper > div:hover{
    background-color: var(--decoration-color);
    color: var(--main-bg-color);
}

.iconsWrapper > div:hover > h4 {
    color: var(--main-bg-color);
}

.iconsWrapper > div > h4{
    padding-right: 5px;
}

.active{
    filter: sepia(100%);
}

.smallItem{
    word-break: break-all;
    width: 90%;
    background-color: var(--secondary-bg-color);
}

.bookmark{
    cursor: pointer;
    padding: 5px;
    top: 0;
    font-size: 20px;
    right: 0;
    color: var(--text-color);
}

.modalContent{
    position: relative;
    color: var(--decoration-color);
    width: 60%;
    background-color: var(--secondary-bg-color);
}

.discussionManipulationButtons > div > * {
    cursor: pointer;
    padding: 2px;
}

.discussionManipulationButtons > div > *:hover{
    background-color: var(--decoration-color);
    color: var(--main-bg-color);
}

.activity{
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
}

.newActivity{
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
    animation: important 1.5s infinite alternate;
}

.activity:hover, .newActivity:hover{
    text-decoration: underline 1px var(--text-color)
}

@keyframes important {
    to{
        color: red;
    }
}

.activityWrapper{
    max-height: 50vh;
    overflow-y: scroll;
}

.singleActivity{
    width: 90%;
    box-shadow: 0 0 2px 0 var(--decoration-color);
}

.allActivityResetButton{

}

.activityWrapper::-webkit-scrollbar{
    width: 5px;
}

.activityWrapper::-webkit-scrollbar-track{
    background: #EEEDDE;
}

.activityWrapper::-webkit-scrollbar-thumb{
    height: 100px;
    background: var(--main-bg-color);
}

@media (max-width: 576px) {
    .modalContent{
        width: 90%;
    }
}
