.activePageNumber{
    font-size: 25px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: var(--main-bg-color);
    background-color: var(--decoration-color);
    text-align: center;
}

.notActive{
    cursor: pointer;
    font-size: 25px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    text-align: center;
}

.notActive:hover{
    color: var(--text-color);
    font-weight: 600;
}
