.activePageNumber{
    font-size: 1.5em;
    margin: 0 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 25px;
    color: var(--main-bg-color);
    background-color: var(--decoration-color);
    text-align: center;
    font-weight: 700;
}

.notActive{
    font-size: 1.5em;
    cursor: pointer;
    margin: 0 5px;
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    height: 25px;
    text-align: center;
}

.notActive:hover{
    color: var(--text-color);
    font-weight: 600;
}


.infoWrapper{
    border: solid 1px var(--decoration-color);
    font-size: 1.2em;
}