.createBtn{
    text-align: center;
    color: var(--text-color);
    background-color: #545252;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
    font-weight: 600;
    width: 200px;
    font-size: 20px;
}

.createBtn:hover{
    background-color: var(--decoration-color);
    color: var(--main-bg-color);
}
