html{
    scroll-behavior: smooth;
}

.App{
    margin: 2rem 0;
    padding: 0 1rem;
    width: 70%;
    background-color: var(--secondary-bg-color);
}


h2{
    font-size: 2em;
    color: var(--text-color);
}

h2, h3, h4, h5, h6, a{
    color: var(--text-color);
}

p{
    color: var(--decoration-color);
}

a{
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
}

a:hover{
    color: var(--text-color);
}


h2 > a:hover, p > a:hover{
    text-decoration: underline var(--text-color);
}

.main-bg{
    background-color: var(--main-bg-color);
}

.button{
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--decoration-color);
    color: var(--main-bg-color)
}

.flex-3{
    flex: 3;
}

.flex-2{
    flex: 2;
}

.flex-1{
    flex: 1;
}

.clickable{
    cursor: pointer;
}

.clickable:hover{
    text-decoration: underline var(--text-color);
}

@media (max-width: 968px) {
    .App{
        width: 80%;
    }
}

@media (max-width: 768px) {
    .App{
        width: 90%;
    }
}