.cautionBackground{
    width: 60%;
    height: 500px;
    background-image: url("../../assets/caution-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.cautionText{
    position: absolute;
    bottom: 150px;
    font-weight: 800;
}

@media (max-width: 1300px) {
    .cautionBackground{
        width: 100%;
    }
}

@media (max-width: 930px) {
    .cautionBackground{
        width: 100%;
        height: 400px;
    }
}